@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */
a {
	color: var(--color-link);
}
/* stylelint-enable */

a:visited {
	color: var(--color-link-visited);
}

a:hover,
a:focus,
a:active {
	color: var(--color-link-active);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}


#primary-menu {
	--link-color: var(--color-theme-white);
	--link-hover: var(--color-theme-yellow);

	& a {
		color: var(--link-color);
		transition: color 0.5s var(--transition-timing-function);

		&:hover {
			text-decoration: none;
			color: var(--link-hover);
		}

		&:active {
			text-decoration: none;
			color: var(--link-hover);
			text-shadow: 1px 1px 1px var(--color-theme-grey);
		}
	}

	& .sub-menu {
		background: var(--gray);
	}
}
