img.popup {
	float: left;
	width: 40%;
	border: 5px solid #fff;
	box-shadow: 4px 4px 12px #000;
}

div.popup {
	width: 50%;
	float: right;
	padding-left: 20px;
	margin-left: 10px;

}

#map-container {
	min-height: 1440px;
	width: 100vw;
}


#map {
	height: 100%;
	min-height: 1440px;

}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: Roboto, sans-serif;
	line-height: 30px;
	padding-left: 10px;
}

#floating-panel {
	margin-left: -52px;
}
