# Ignore everything:
/*


!/.github/

# Track vs code settings
!/.vscode/
!/.vscode/settings.json

# Allow only some of tailwind.css
!tailwind-config.js
!tailwind.config.js
!/assets/css/src/tailwind/source/_tailwind.css

# Track housekeeping and development configurations.
!.stylelintignore
!.stylelintrc
!.babelrc
!composer.json
!composer.lock
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!.browserslistrc

!/assets/
/assets/*

# do not allow any of the minified css files, but do allow the non-minified files
!/assets/css/
/assets/css/*

!/assets/css/src/

# do not allow any of the minified js files, but do allow the non-minified files
!/assets/js/
/assets/js/*
!/assets/js/src/

# do not allow any of the minified js files, but do allow the non-minified files
!/assets/images/
/assets/images/*
!/assets/images/src/

!/languages/
!gulp/
!style.css
!/*.php
!/inc/
!/template-parts/

# WpRig Configuration Files
!/config/
!/config/config.local.json
!/tests/
!/optional/


!CHANGELOG.md
!CONTRIBUTING.md
!gulpfile.babel.js
!LICENSE
!package-lock.json
!package.json
!phpcs.xml.dist
!phpunit.integration.xml.dist
!phpunit.xml.dist
!README.md
!readme.txt
!screenshot.png
!.travis.yml

